
body{
    background-color: #1E4959;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.37'%3E%3Cpolygon fill='%23215969' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23246979' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23267a8a' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23298a9a' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%232C9AAA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.caj{
    background-color: rgb(29, 11, 233);
    padding: 50px;
    list-style-type: none;
    margin: 0px;
    justify-content: center;
    margin-top: 0px;
    display: flex;
    height: 20px;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin-inline: 200px;

   
    
}

.principal{
    font-style: normal;
    
    
    
}
.LET{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;

}
.LET:HOVER{
    color: aqua;
    background-color: yellow;
    border-radius: 10%;
}
section{
    margin-inline: 4px;
    margin-block: 10px;
}
    
.p1{
    background-color: white;
    position: relative;
    display: inline;
    float: left;
    width: 20%;
    height: 100%;
    overflow-y: scroll;
    font-size: 20px;
    font-family: monospace;
    border-radius: 3px;
    max-height: 500px;

    

}

.p2{
    background-color: grey;
    color: black;
    position: relative;
    display: inline;
    float: left;
    width: 57%;
    height: 250%;
    font-size: 20px;
    font-family: monospace;
    border-radius: 3px;

}
.p3{
    background-color: white;
    color: black;
    position: relative;
    display: inline;
    float: left;
    width: 20%;
    height: 100%;
    font-size: 20px;
    font-family: monospace;
    border-radius: 3px;
}
.ft{
    height: 200px;
    width: 290px;
    float: left;
}
a{
    color: black;
    float: left;
    display: block;
    margin-block: 4px;
    margin: 5px;
    list-style: none;
    width: 100%;
    text-decoration:none ;


}
.rel{
    width: 300px;
    height: 150px;
}

